@import '../bourbon/bourbon';

$key_color: green;
$key_gap: 24px;


$color_black: black;
$color_white: white;
$color_beige: #d1ccbf;
$color_gray: #96938e;
$color_red: #c13828;
$color_blue: #5eb0e5;
$color_green: #1eb53a;
$color_yellow: #f9d616;
$color_orange: #f77f00;
$color_pink: #fbbcc8;
$color_purple: #ad98da;

/* 
 * Color
 * ====================
 */

.color-black {
  background: tint($color_black, 15%) !important;
  &:after{
    background: $color_black !important;
  }
}

.color-white {
  background: shade($color_white, 25%) !important;
  &:after{
    background: $color_white !important;
  }
}

.color-beige {
  background: shade($color_beige, 25%) !important;
  &:after{
    background: $color_beige !important;
  }
}

.color-gray {
  background: shade($color_gray, 25%) !important;
  &:after{
    background: $color_gray !important;
  }
}

.color-red {
  background: shade($color_red, 25%) !important;
  &:after{
    background: $color_red !important;
  }
}

.color-blue {
  background: shade($color_blue, 25%) !important;
  &:after{
    background: $color_blue !important;
  }
}

.color-green {
  background: shade($color_green, 25%) !important;
  &:after{
    background: $color_green !important;
  }
}

.color-yellow {
  background: shade($color_yellow, 25%) !important;
  &:after{
    background: $color_yellow !important;
  }
}

.color-orange {
  background: shade($color_orange, 25%) !important;
  &:after{
    background: $color_orange !important;
  }
}

.color-pink {
  background: shade($color_pink, 25%) !important;
  &:after{
    background: $color_pink !important;
  }
}

.color-purple {
  background: shade($color_purple, 25%) !important;
  &:after{
    background: $color_purple !important;
  }
}




body {
  background: shade(white, 5%);
}

.wrapper {
  overflow: hidden;
  float: right;
}
.container {
  position: relative;
  width: 62px*22+$key_gap*2;
  margin: 60px auto;
}

.title {
  color: #aaa;
  span {
    font-size: 6em;
    color: tint(black, 30%);
  }

  a {
    text-decoration: none;
    color: tint(blue, 60%);
  }
  
  a:hover {
    cursor: pointer;
  }
}

.key {
  width: 60px;
  height: 60px;
  background: shade($key_color, 30%);
  margin: 1px;
  border-radius: 3px;
  float: left;

  &:after {
    content: '';
    display: block;
    margin: 2px 9px 13px;
    height: 45px;
    border-radius: 5px;
    background: $key_color;
  }

  &:active {
    @include transform(translateY(5px));
  }

  @include transition (all 0.1s ease-out);
  @include box-shadow(0 3px 4px 1px shade(white, 30%));
  @include user-select(none);
}

.key-tab,
.key-backslash{
  width: 91px
}

.key-caps {
  width: 105px;
}

.key-lshift {
  width: 140px;
}

.key-ctrl,
.key-win,
.key-alt,
.key-rightclick {
  width: 74px;
}

.key-back,
.key-ins {
  width: 122px;
}

.key-enter {
  width: 139px;
}

.key-rshift {
  width: 166px;
}

.key-space {
  width: 396px
}

.key-padding {
  opacity: 0;
}

.key-plus {
  height: 122px;
  &:after {
    height: 107px;
  }
}

/* 
 * Position
 * ====================
 */

.row {
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

#area-esc,
#area-f1,
#area-f2,
#area-f3,
#area-three,
#area-six,
#area-arrow,
#area-num,
#area-main {
  position: absolute;
  top: 0;
}

#area-f1 {
  left: 62*2px;
  top: 0;
}

#area-f2 {
  left: 62px*6.5;
  top: 0;
}

#area-f3 {
  left: 62px*11;
  top: 0;
}

#area-three {
  left: $key_gap+62px*15;
  top: 0;
}

#area-main {
  top: 62px+$key_gap;
}

#area-six {
  left: $key_gap+62px*15;
  top: 62px+$key_gap;
}

#area-arrow {
  left: $key_gap+62px*15;
  top: 62px*4+$key_gap;
}

#area-num {
  left: $key_gap*2+62px*18;
  top: 62px+$key_gap;
  width: 62px*4;
}


