/* 
 * Pallete
 * ====================
 */
#pallete:after {
  content: '';
  display: block;
  clear: both; }

.circle {
  width: 24px;
  height: 24px;
  float: left;
  margin: 0 5px;
  border-radius: 12px; }

#indicator {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  text-align: center;
  position: relative;
  left: 342px;
  -webkit-transition: left 0.4s ease-out, color 0.4s 0.3s ease-out;
  -moz-transition: left 0.4s ease-out, color 0.4s 0.3s ease-out;
  transition: left 0.4s ease-out, color 0.4s 0.3s ease-out;
  font-size: 1.3em; }

/* 
 * Color
 * ====================
 */
.color-black {
  background: #191919 !important; }
  .color-black:after {
    background: black !important; }

.color-white {
  background: #d8d8d8 !important; }
  .color-white:after {
    background: white !important; }

.color-beige {
  background: #9c998f !important; }
  .color-beige:after {
    background: #d1ccbf !important; }

.color-gray {
  background: #706e6a !important; }
  .color-gray:after {
    background: #96938e !important; }

.color-red {
  background: #902a1e !important; }
  .color-red:after {
    background: #c13828 !important; }

.color-blue {
  background: #4684ab !important; }
  .color-blue:after {
    background: #5eb0e5 !important; }

.color-green {
  background: #16872b !important; }
  .color-green:after {
    background: #1eb53a !important; }

.color-yellow {
  background: #baa010 !important; }
  .color-yellow:after {
    background: #f9d616 !important; }

.color-orange {
  background: #b95f00 !important; }
  .color-orange:after {
    background: #f77f00 !important; }

.color-pink {
  background: #bc8d96 !important; }
  .color-pink:after {
    background: #fbbcc8 !important; }

.color-purple {
  background: #8172a3 !important; }
  .color-purple:after {
    background: #ad98da !important; }

body {
  background: #f2f2f2; }

.container {
  position: relative;
  width: 1412px;
  margin: 50px auto; }

.title {
  color: #aaa; }
  .title span {
    font-size: 6em;
    color: #4c4c4c; }
  .title a {
    text-decoration: none;
    color: #9999ff; }
  .title a:hover {
    cursor: pointer; }

.key {
  width: 60px;
  height: 60px;
  background: #d8d8d8;
  margin: 1px;
  border-radius: 3px;
  float: left;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  box-shadow: 0 3px 4px 1px #b2b2b2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .key:after {
    content: '';
    display: block;
    margin: 2px 9px 13px;
    height: 45px;
    border-radius: 5px;
    background: white; }
  .key.active {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }

.key-tab,
.key-backslash {
  width: 91px; }

.key-caps {
  width: 105px; }

.key-lshift {
  width: 140px; }

.key-ctrl,
.key-win,
.key-alt,
.key-rightclick {
  width: 74px; }

.key-back,
.key-ins {
  width: 122px; }

.key-enter {
  width: 139px; }

.key-rshift {
  width: 166px; }

.key-space {
  width: 396px; }

.key-padding {
  opacity: 0;
  float: right; }

.key-plus {
  height: 122px; }
  .key-plus:after {
    height: 107px; }

/* 
 * Position
 * ====================
 */
.row {
  overflow: hidden;
  background: #b2b2b2; }
  .row:after {
    content: '';
    display: block;
    clear: both; }

.row.row-padding {
  background: inherit; }

.wrapper {
  overflow: hidden;
  float: right;
  background: #b2b2b2; }

#area-esc,
#area-f1,
#area-f2,
#area-f3,
#area-three,
#area-six,
#area-arrow,
#area-num,
#area-main {
  position: absolute;
  top: 0; }

#area-f1 {
  left: 124px;
  top: 0; }

#area-f2 {
  left: 403px;
  top: 0; }

#area-f3 {
  left: 682px;
  top: 0; }

#area-three {
  left: 954px;
  top: 0; }

#area-main {
  top: 86px; }

#area-six {
  left: 954px;
  top: 86px; }

#area-arrow {
  left: 954px;
  top: 272px; }

#area-num {
  left: 1164px;
  top: 86px;
  width: 248px; }
